.headerSection {
  background-color: #005b9a;
  color: white;
  height: 47px;
}

.headerContent {
  margin-top: 14px;
}

.underline {
  text-decoration: underline;
}

.activeHeader {
  font-weight: bold;
}

.subHeaderSection {
  color: rgb(48, 139, 192);
  height: 80px;
  border-bottom: 1px solid black;
}

.subHeaderContent {
  margin-top: 17px;
  padding-left: 0px;
}

.subHeaderSteps {
  font-size: 18px;
  font-weight: bold;
}

.subHeaderTitle {
  font-size: 14px;
}

.activeSubHeaderStep {
  margin-top: 5px;
  font-size: 32px;
  display: block;
  color: rgb(212, 175, 55);
}

.inActiveSubHeaderStep {
  display: none;
}

.activeSubHeaderContent {
  color: white;
}

.leftAlign {
  text-align: right;
}

.homeSection {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.homeDiv {
  border: 1px solid black;
}

.homeTitle {
  margin-top: 50px;
  font-size: 27px;
  font-weight: bold;
}

.homeSubContent {
  margin-top: 100px;
}

.homeCheckDiv {
  background-color: white;
  cursor: pointer;
}

.homeCheck {
  font-size: 22px;
  color: lightgray;
}

.homeCheckText {
  height: 40px;
}

.nextButton {
  border: 1px solid black;
}

.homeDivChecked {
  color: black;
}

.menuButton {
  cursor: pointer;
}

.samplePage {
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
}

.siteIcon {
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
}

.homeCheckInnerText {
  margin-top: 4px;
}

.requestDropdown li {
     padding: 7px 10px;
     cursor:pointer
}

button {
    outline: 0
}


.progress-bar-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.progress-bar-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.toggleHash {
  color: lightgray;
  font-size: 25px;
}

.progress {
    height: 6px;
    margin-top: 12px;
    margin-bottom: 0px;
}

.collapseButton {
  margin-top: 8px;
}

.page-content {
  /*margin-top: -65px;*/
  /*background-color: #D4AF37;*/
}

.mypage-content {

  padding-top: 10px;
}

.adminSpan {
  font-size: 8px;
  background-color: #092f5c;
  padding: 4px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.adminHeaderDetailsRow {
  margin-left: -5px;
  margin-top: 10px;
}

.adminHeaderDetails {
  background-color: rgba(0,0,0,0.5) !important;
  margin: 2px;
  width: 30%;
}

.adminHeaderDetailsContent{
  margin-top: 5px;
  font-size: 10px;
  margin-bottom: 5px;
}

.adminHeaderDetailsCountParent {
  margin-top: 18px;
  font-size: xx-large;
}

.adminHeaderDetailsTime {
  font-size: 8px;
  margin-bottom: 5px;
}

.headerGreetings {
  font-size: 10px;
}

.headerContentPadding{
  padding-top: 10px !important;
}

.headerTabs {
  height: 30px;
  color: white;
  cursor: pointer;
}

.headerTabActive {
  background-color: white;
  color: black !important;
}

.headerTabContent {
  margin-top: 5px;
}

.nullShadow {
  background-color: white;
  box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
  border: 1px solid white;
  border-bottom: 0.5px solid #ccc;
  height: 43px;
}

.nullShadow:focus{
    border-color: white;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);

    box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102,175,233,.6);
    border-bottom: 0.5px solid #ccc;
}

.timeText {
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid #ddd;
  margin-top: 2px;
  margin-left: -5px;
  width: 20px;
  padding-left: 5px;
  color: #ddd;
}

.greenElement {
  color: green;
  border-color: green;
}

.blackElement {
  color: black;
  border-color: black;
}

.textCircle {
  height: 30px;
  width: 30px;
  padding: 4px 6px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border: 1px solid #ddd;
  background-color: #ccc;
  color: white;
}

.adminTabContents {
  display: none;
}

.activeAdminTabContent {
  display: block !important;
}
